In [8]:
import os
import pandas as pd

In [6]:
cwd=os.getcwd() # dirname of absolute path of file
Base_DIR=os.path.dirname(cwd)
Data_DIR=os.path.join(Base_DIR ,'data')

In [7]:
os.listdir(Data_DIR)

['2000.csv',
 '2001.csv',
 '2002.csv',
 '2003.csv',
 '2004.csv',
 '2005.csv',
 '2010.csv',
 '2011.csv',
 '2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv']

In [20]:
my_items= [{"category":"romantic","genre":"thriller"},{"category":"comedy", "title":"love"}]
df =pd.DataFrame(my_items)
df.head()

   category     genre title
0  romantic  thriller   NaN
1    comedy       NaN  love

In [21]:
df.iloc[0]

category    romantic
genre       thriller
title            NaN
Name: 0, dtype: object

In [25]:
my_data=os.path.join(Data_DIR ,"2019.csv")
print(os.path.exists(my_data))

True

In [28]:
df2 =pd.read_csv(my_data)
df2.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,797,800,564","$858,373,000",30.7%,"$1,939,427,564",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%

In [ ]:
#combining more data